.nav-bar-primary__link {
    @apply
        text-black-light
        transition-all
        duration-300
        z-30

        after:content-['']
        after:block
        after:w-full
        after:h-[2px]
        after:bg-primary-light
        after:transition-all
        after:duration-300
        after:opacity-0

        hover:after:opacity-100
        hover:after:translate-y-1

        dark:text-black-dark
        dark:after:bg-primary-dark
    ;
}

.nav-bar-primary__link.current {
    @apply
        after:opacity-100
        after:translate-y-1
    ;
}
