.header__button-hamburger {
    @apply lg:hidden;
}

.header__button-hamburger span {
    @apply
        transition-all
        duration-500
    ;
}

.header__button-hamburger.active span:nth-child(1) {
    @apply
        rotate-45
        absolute
        m-auto
    ;
}

.header__button-hamburger.active span:nth-child(2) {
    @apply
        -translate-x-3
        opacity-0
    ;
}

.header__button-hamburger.active span:nth-child(3) {
    @apply
        -rotate-45
        absolute
        m-auto
    ;
}

.header__nav {
    @apply
        fixed
        top-0
        -right-[120%]
        bg-white-light
        text-black-light
        w-full
        h-full
        flex
        items-center
        justify-center
        transition-all
        duration-500

        dark:bg-white-dark
        dark:text-black-dark

        lg:relative
        lg:right-0
        lg:w-auto
        lg:h-auto
        lg:transition-none
    ;
}

.header__nav.active {
    @apply
        right-0
        pt-[3.3rem]

        lg:pt-0
    ;
}

.header__nav ul {
    @apply
        flex-col

        lg:flex-row
    ;
}
